<nav id="nav-bar">
    <img class="logo" src="/images/bird.png">
    <span class="header">D^2</span>
    <span class="button-container">
        <button class="Favorite">
            <i class="fa fa-pencil" aria-hidden="false"></i>
            <h4>Favorite</h4>
        </button>
        <button class="mymaps">
            <i class="fa fa-pencil" aria-hidden="false"></i>
            <h4>mymaps</h4>
        </button>
        <button class="home">
            <i class="fa fa-pencil" aria-hidden="false"></i>
            <h4>home</h4>
        </button>
        <!-- if users logged in, show logout; if not logged in, show login -->
        <button class="logout">
            <i class="fa fa-pencil" aria-hidden="false"></i>
            <h4>logout</h4>
        </button>

        <button class="new-map">
            <i class="fa fa-pencil" aria-hidden="false"></i>
            <h4>createmap</h4>
        </button>


    </span>
</nav>