<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>

<body>


    <h1>Welcome To D^2</h1>
    <div class="register-page">
        <div class="form">
            <form class="register-form" action="/register" , method="POST">
                <input type="email" placeholder="email" name="email" />
                <input type="password" placeholder="password" name="password" />

                <button>create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>

</body>

</html>