<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <title>home</title>
</head>

<body>
        {{ partial "partials/_header.html" . }}
    
    <main>
        <!-- old maps here -->
        <section class="allmaps"></section>
        <section id="showonemap"></section>
    </main>
</body>

</html>